RESEND_API_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
PULSE_BASE_URL=https://nectarpayaz.com
FROM_EMAIL="Eric at NectarPay AZ <eric@nectarpayaz.com>"
REPLY_TO=eric@nectarpayaz.com
# CAN-SPAM physical address, exactly as it should appear in the footer:
PHYSICAL_ADDRESS="Monson Development LLC, [street address], [city], AZ [zip]"
